
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root{
    --prt:#faa5;
}

.btns{
    display: none;
}
header{
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #24243e;
    color: #faa;
    font-weight: bolder;
    z-index: 200;
    position: relative;
}
.profilebox{
    position: relative;
    z-index: 150;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
header nav{
    display: flex;
    justify-content: space-around;
    padding: 22px;
}
nav .elemtFrt{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.elemtFrt li a{
    text-decoration: none;
    color:#faa;
}
.elemtScnd li span{
    background-color: #302b63;
    padding: 10px;
    box-shadow: inset 0px 4px 7px 1px;
    text-transform: uppercase;
    border-radius: 30px;
}
  

/*background-color: #faa5;*/


.profilebox{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: calc(100vh - 62px);
}
.imgProf{
    position: absolute;
}
.wavesprf{
    background-color: #4246;
    height: 100%;
    width: 100%;
}
.wavesprf .wave1{
    height: 100%;
    position: relative;
    z-index: 100;
}
.wavesprf .wave2{
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 50;
    bottom: 0;
}

.imgProf img{
    width: 100%;
    height: 110%;
    opacity: 50%;
}

.imgProf{
    display: flex;
    justify-content: end;
    width: 70%;
    height: 85%;
    right: 0;
}

.infmyslf{
    z-index: 200;
    position: absolute;
    margin: 20px;
    padding: 15px;
    width: 25%;
    height: 70%;
}
main ul{
    list-style: none;
    font-size: 40px;
    animation-name: txtani;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

.txt-inf{
    font-size: 100%;
    margin-top: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    text-align: center;
}  

.txt-inf1{
    border-left: 4px outset rgba(28,110,164,0.43);
    padding: 5px;
    color: #fa709f;
    font-weight: bold;
}

.txt-inf2{
    margin-top: 5%;
    text-transform: uppercase;
}

.name{
    text-transform: uppercase;
    color: #fff;
}
.blockft{
    display: block;
}



@media (min-width: 1466px){
    .txt-inf{
        font-size: 130%;
        margin: 40px 0;
    }
}
@keyframes txtani{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}


@keyframes aniTxt2{
    0%{
        left: -100px;
    }
    100%{
        left: 0;
    }
}

@media (max-width: 768px){
    .elemtFrt li{
        display: none;
    }
    .elemtScnd{
        width: 100%;
    }
    .elemtScnd li span{
        font-size: 14px;
    }
    .menuToggle{
        display: block;
        font-size: 20px;
    }
    .frts{
        margin-left: -20px;
        font-size: 2pc;
    }
    .txt-inf{
        font-size: 0.5pc;
        margin-left: -40px;
    }
    .txt-inf1{
        position: absolute;
        bottom: -37%;
        left: 120%;
        font-size: 12px;
        width: 200px;
        height: 100px;
        z-index: -100;
    }
    
    .rpl1{
        position: absolute;
        bottom: -25%;
        left: -20%;
    }
    .rpl2{
        display: none;
    }
    .txt-Cntt{
        margin-top: 753px;
        font-size: 12px;
        width: 500%;
        border-radius: 20px;
        padding: 15px;
    }
    .txt-inf2{
        color: #fff;
        padding: 10px;
        border-radius: 50px;
    }
    h6{
        font-size: 11px;
    }
    .ptlTni{
        font-size: 10px;
        font-weight: bolder;
    }
    .wave2{
        margin-bottom: 0px;
    }
    .txt-Cntt{
        background: url("/mask/pngegg\ \(2\).png");
    }
    header{
        position: fixed;
    }
    .profilebox{
        margin-top: 62px;
    }
}